
<h1>Car Reviews</h1>

<div> 
    <a href="/cars/new" class="btn btn-primary">Add</a>
</div>

<div class="container">
    <% data.forEach(item => { %>
        <div class="cards">
            <img src='<%=item.img%>' height='200' />
            <div class='text-block'>
                <a class="btn btn-danger" href="/cars/rating/<%=item.id%>">
                <%=item.rating%>
                </a>
            </div>
            <div class="font main-text">
                <div>
                <%=item.year%> 
                <%=item.make%> 
                <%=item.model%>
                </div>
            </div>
            <div class="cardButtonParent">
                <a  class="btn btn-info" href="/cars/<%=item.id%>">Description</a> 
                <a href="/cars/<%=item.id%>" class="btn btn-secondary">Edit</a>
                <form action="/cars/<%=item.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-warning"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>
        </div>
    <% }) %>

</div>