<h1 class="fw-bold page-heading margin">Luxury Cars</h1>

<div class="box_container margin">
    <% data.forEach(item => { %>
        <div class="cards">
            <img src='<%=item.img%>' height='200' />
            <div class='text-block'>
                <a class="btn btn-danger" href="/luxuries">
                <%=item.rating%>
                </a>
            </div>
            <div class="font main-text">
                <div style="text-align: center;">
                <%=item.year%> 
                <%=item.make%> 
                <%=item.model%>
                </div>
            </div>
            <div class="cardButtonParent">
                <a  class="btn btn-secondary" href="/luxuries/<%=item.id%>">Description</a> 
                <a href="/luxuries/edit/<%=item.id%>" class="btn btn-secondary">Edit</a>
                <form action="/luxuries/<%=item.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-dark"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>
        </div>
    <% }) %>

</div>