<h1 class="fw-bold page-heading margin">All Vehicles</h1>
<div class="box_container margin">
    <% cars.forEach(item => { %>
        <div class="cards">
            <img src='<%=item.img%>' height='200' />
            <div class='text-block'>
                <a class="btn btn-danger" href="/cars">
                <%=item.rating%>
                </a>
            </div>
            <div class="font main-text">
                <div style="text-align: center;">
                <%=item.year%> 
                <%=item.make%> 
                <%=item.model%>
                </div>
            </div>
            <div class="cardButtonParent">
                <a  class="btn btn-secondary" href="/cars/<%=item.id%>">Description</a> 
                <a href="/cars/<%=item.id%>" class="btn btn-secondary">Edit</a>
                <form action="/cars/<%=item.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-dark"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>
        </div>
    <% }) %>

    <% luxuries.forEach(item => { %>
        <div class="cards">
            <img src='<%=item.img%>' height='200' />
            <div class='text-block'>
                <a class="btn btn-danger" href="/luxuries">
                <%=item.rating%>
                </a>
            </div>
            <div class="font main-text">
                <div style="text-align: center;">
                <%=item.year%> 
                <%=item.make%> 
                <%=item.model%>
                </div>
            </div>
            <div class="cardButtonParent">
                <a  class="btn btn-secondary" href="/luxuries/<%=item.id%>">Description</a> 
                <a href="/luxuries/<%=item.id%>" class="btn btn-secondary">Edit</a>
                <form action="/luxuries/<%=item.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-dark"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>
        </div>
    <% }) %>

    <% trucks.forEach(item => { %>
        <div class="cards">
            <img src='<%=item.img%>' height='200' />
            <div class='text-block'>
                <a class="btn btn-danger" href="/trucks">
                <%=item.rating%>
                </a>
            </div>
            <div class="font main-text">
                <div style="text-align: center;">
                <%=item.year%> 
                <%=item.make%> 
                <%=item.model%>
                </div>
            </div>
            <div class="cardButtonParent">
                <a  class="btn btn-secondary" href="/trucks/<%=item.id%>">Description</a> 
                <a href="/trucks/<%=item.id%>" class="btn btn-secondary">Edit</a>
                <form action="/trucks/<%=item.id%>?_method=DELETE" method="POST">
                    <input class="btn btn-dark"
                        type="submit"
                        value="Delete"
                    />
                </form>
            </div>
        </div>
    <% }) %>

</div>